#container{
	background: radial-gradient(gray, black, black, black);
	font-family: sans-serif;
	margin: 0px auto;
	height: 770px;
	width: 970px;
}

#header{
	background: linear-gradient(lightgray, white, white);
	height: 68px;
	width: 970px;
}

#header .header-left{
	display: inline-block;
	vertical-align: top;
}

#header .header-right{
	display: inline-block;
	vertical-align: top;
}

#header p{
	font-size: 18px;
	font-weight: bold;
	margin: 30px 0px 10px 270px;
}

#nav{
	background: linear-gradient(white, lightgray, white);
	height: 42px;
	width: 970px;
}

#nav ul{
	margin: 0px 0px 0px 0px;
	border: 0px;
}

#nav ul li{
	color: gray;
	display: inline-block;
	font-size: 11px;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 15px 5px 15px 5px;
	vertical-align: top;
}

/*#nav ul{
	margin: 0px;
}

#nav ul li{
	border-left: 2px solid lightgray;
	display: inline-block;
	font-size: 12px;
	list-style-type: none;
	padding: 14px 10px 14px 10px;
	vertical-align: top;
}

border-right: 2px solid lightgray;*/

#nav a{
	color: gray;
	text-decoration: none;	
}

#main{
	height: 265px;
	margin: 20px 35px 20px 35px;
	width: 0px auto;
}

#main .picture{
	display: inline-block;
}

#main img{
	border: 5px solid white;
}

#main .about{
	background-color: gray;
	display: inline-block;
	height: 265px;
	margin-left: 15px;
	vertical-align: top;
	width: 493px;
}

h3{
	background-color: gold;
	font-size: 13px;
	margin: 0px;
	padding: 8px 0px 8px 8px;
}

h4{
	color: white;
	margin: 0px;
	padding: 12px 0px 0px 20px
}

#main p{
	color: white;
	font-size: 12px;
	margin: 0px;
	padding: 12px 20px 0px 20px
}

#footer{
	margin-left: 35px;
}

#strip{
	background-color: black;
	height: 30px;
	margin-bottom: 20px;
	width: 420px;
}

#strip img{
	width: 150px;
}

#strip p{
	color: white;
	display: inline-block;
	font-size: 10px;
	vertical-align: top;
}

#content div{
	background-color: white;
	display:inline-block;
	font-size: 12px;
	margin-right: 10px;
	width:214px;
}

#content img{
	width: 214px;
}

#content p{
	padding-left: 8px;
}

#content .read-more-button{
	background-color: gold;
	border-top-right-radius: 70px;
	border-bottom-right-radius: 70px;
	margin: 0px 0px 10px 120px;
}






/*#main .about p{
	font-size: 10px;
}*/