#container{
	background-color: black;
	font-family: sans-serif;
	margin: 0px auto;
	width: 970px;
}

#header{
	background: linear-gradient(lightgray, white, white);
	height: 68px;
	width: 970px;
}

#header .header-left{
	display: inline-block;
	vertical-align: top;
}

#header .header-right{
	display: inline-block;
	vertical-align: top;
}

#header p{
	font-size: 18px;
	font-weight: bold;
	margin: 30px 0px 10px 270px;
}

#nav{
	background: linear-gradient(white, lightgray, white);
	height: 42px;
	width: 970px;
}

#nav ul{
	margin: 0px 0px 0px 0px;
}

#nav ul li{
	color: gray;
	display: inline-block;
	font-size: 10px;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 15px 5px 15px 5px;
	vertical-align: top;
}

#nav a{
	color: gray;
	text-decoration: none;	
}